---
name: Tests

on:
  pull_request:
    branches:
      - main

jobs:
  goreleaser:
    name: Build with goreleaser
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          check-latest: true

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean --skip=publish --snapshot

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: exabgp_exporter
          path: dist/

  codechecks:
    name: Code checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          check-latest: true

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          only-new-issues: true

      - name: Govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: ""
          check-latest: true
          go-version-file: "go.mod"
          cache: false
          repo-checkout: false

  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    env:
      TEST_RESULTS: "/tmp/test-results"
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          check-latest: true

      - name: Prepare environment
        run: |-
          git config --global --add safe.directory "${GITHUB_WORKSPACE}"
          mkdir -p ${TEST_RESULTS}
          go install github.com/jstemmer/go-junit-report@latest

      - name: Run tests
        run: |-
          trap "go-junit-report <${TEST_RESULTS}/go-test.out > ${TEST_RESULTS}/go-test-report.xml" EXIT
          script/test | tee ${TEST_RESULTS}/go-test.out

      - name: Coverage
        run: script/coverage

      - uses: actions/upload-artifact@v5
        with:
          name: "unit-test-results"
          path: "/tmp/test-results"

  integration-tests:
    name: Integration tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        exabgp_version:
          - "4.2.25"
          - "4.2.22"
          - "4.2.21"
          - "4.2.17"
          - "4.2.8"
          - "4.2.4"
          - "4.0.8"
    env:
      EXABGP_VERSION: ${{ matrix.exabgp_version }}
      TEST_RESULTS: "/tmp/test-results"
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Prepare environment
        run: |-
          git config --global --add safe.directory "${GITHUB_WORKSPACE}"
          mkdir -p ${TEST_RESULTS}

      - name: Build docker image
        run: script/build-docker

      - name: Run docker container
        run: script/run-docker

      - name: Wait for docker container
        run: sleep 30

      - name: Run tests
        run: |-
          trap "docker logs exabgp_exporter > ${TEST_RESULTS}/docker-${EXABGP_VERSION}.log" EXIT
          test/libs/bats/bin/bats test/*.bats

      - name: Stop docker container
        run: script/stop-docker

      - uses: actions/upload-artifact@v5
        with:
          name: "exabgp-${{ matrix.exabgp_version }}-test-results"
          path: "/tmp/test-results"
